<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362700306314-g33r8s686bfs85oqvrqar51khf5097i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362700306314-g33r8s686bfs85oqvrqar51khf5097i0</string>
	<key>API_KEY</key>
	<string>AIzaSyAH0DO3EQV8UfEQ0IyO9Kad3NiSdL8Ruq4</string>
	<key>GCM_SENDER_ID</key>
	<string>362700306314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNationOfDelivery.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nationofdelivery-abd39</string>
	<key>STORAGE_BUCKET</key>
	<string>nationofdelivery-abd39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362700306314:ios:e26355528be0aaa987fa73</string>
</dict>
</plist>